/*@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);*/
/*@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);*/

/*body { font-family: 'Droid Serif'; }*/
/*h1, h2, h3 {*/
	/*[>font-family: 'Yanone Kaffeesatz';<]*/
	/*font-weight: normal;*/
/*}*/

.remark-slide-content {
	font-family: 'Roboto', sans-serif;
	padding: 16px 48px 16px 48px;

	font-size: 32px;
	background-image: url(slide-bg.png);
	background-size: contain;
}

.remark-slide-number {
	font-size: 20px;
}

.remark-slide-content p {
	margin: 1em 0em 0em 0em;
}

.remark-slide-content ul {
	margin: 0em 0em 0em 0em;
}

.remark-slide-content h1 {
	color: dark-blue-1;
}

.remark-slide-content pre {
	margin: 1em 0em 0em 0em;
}

.remark-slide-content .floatright {
	float: right;
	margin-right: 130px;
	margin-top: 50px;
}

@font-face {
	font-family: "DjvuSansMono";
	src: url("./DejaVuSansMono.ttf");
}

.remark-code, .remark-inline-code {
	font-family: 'DjvuSansMono'
}

/* title */

.remark-slide-content.title {
	background-image: url(title-bg.png);
	background-size: contain;
}

.remark-slide-content.title .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.remark-slide-content.title {
	color: white;
}

.remark-slide-content.title h1 {
	font-size: 3em;
}

.remark-slide-content.title .sign {
	display: inline-block;
	align-self: flex-end;
	margin-bottom: 0.4em;

}

.remark-slide-content.title .remark-slide-number {
	display: none;
}
